/* Write your CSS here */
.app-container {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto';
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto';
}
.button {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: 1px;
  border-color: #000000;
}
